html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    line-height: 1;
    background-color: #222222;
    font-family: Montserrat, sans-serif;
}

.sidebar {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-right: 5px solid #3A3A3A;
    background-color: #0F0F0F;
}

.logo {
    height: 100px;
    width: 200px;
    padding: 0px 40px;
}

h3 {
    padding: 0px 50px;
    color: #fff;
}

.link {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0px 0px 25px 80px;
}

.add-link {
    margin-left: 80px;
    padding: 13px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    background-color: #155E87;
}

.delete-link {
    padding: 13px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    background-color: #B61E1E;
}

.main_container {
    position: absolute;
    left: 40%;
    height: 100%;
    width: 700px;
}

h1 {
    padding: 0px 110px;
    color: #fff;
}

.card {
    height: 100px;
    width: 350px;
    background-color: #FFEA9E;
    border-radius: 5px;
}

.btn {
    height: 40px;
    width: 140px;
    background-color: #FF9211;
    border-radius: 3px;
}

.a-detail {
    font-weight: 600;
    padding: 12px 0px 0px 25px;
    color: #000;
}